h3 {
  margin-top: 1.5rem;
}

h2 {
  margin-top: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  a {
    color: lightblue;
  }
  
  body {
    background-color: #222222;
    color: lightgrey
  }
  
  blockquote {
    color: grey;
  }
}

@media (prefers-color-scheme: light) {

  body {
    background-color: white;
    color: black
  }
  
  blockquote {
    color: darkslategrey;
  }
}

p {
  font-family: sans-serif;
  margin-bottom: 1.5rem;
}

li {
  font-family: sans-serif;
}

details {
  margin-bottom: 20px;
}

ol li {
  margin-left: 20px;
  padding-left: 10px;
}

ul li {
  margin-left: 20px;
  padding-left: 10px;
}